@import "tailwindcss";

.du-carousel {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.du-carousel-item {
	scroll-snap-align: center;
}
